.footer-bg {
    background-color: var(--cor-3);
    padding: 53px 20px;
}

.footer-container {
    max-width: 1240px;
    margin: 0 auto;
}

.footer-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
